<%- include("partials/header.ejs") %>

	<div class="container">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
			</div>
			<div class="col-1"></div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div class="card mb-3">
					<div class="row g-0 info-card">
						<div class="col-md-4">
							<img src="<%= info.image_url %> " alt="Image of <%=  %> ">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<div class="row" style="margin: 0">
									<div class="col-10" style="padding: 0">
										<h5 class="card-title"><i><span class="grayText"><%= info.title %> </span></i><%= info.full_name %></h5>
									</div>
									<div class="col-2 d-flex justify-content-end" style="padding: 0">
										<%- include('./partials/favorite.ejs') %>
									</div>
								</div>
								<p class="card-title">Political affiliation: <%= affiliations[info.party] %></p>
								<p class="card-title">State: <%= states[info.state] %></p>
								<p class="card-title">Age: <%= info.age %></p>
								<p class="card-title">DOB: <%= new Date(info.date_of_birth).toDateString() %></p>
								<p class="card-title">Gender: <%= genders[info.gender] %></p>
								<p class="card-title">URL: <a href="<%= info.url %>"><%= info.url %></a></p>
								<p class="card-title">Contact: <a href="<%= info.contact_form %>"><%= info.contact_form %></a></p>
								<p class="card-title">Votes with party: <%= info.votes_with_party_pct %>%</p>
								<p class="card-title">Votes against party: <%= info.votes_against_party_pct %>%</p>
								<p class="card-title">Votes missed: <%= info.missed_votes_pct %>%</p>
							</div>
							<div class="card-footer text-muted">
								Last Updated: <%= new Date(info.last_updated).toDateString() %> ProPublica Congress API
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
		<div class="row" style="margin-bottom: 15px;">
			<div class="col-1"></div>
			<div class="col-10">
				<h6 class="search-result">
					<strong>Search Result for "<%= searchInput %>":</strong>
				</h6>
			</div>
			<div class="col-1"></div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-6">
				<ul id="dynamic-list" class="card-list hidden" style="text-align:left;">
					<% articles.forEach((article)=> { %>
						<li>
							<div class="card">
								<img src="<%= article.image %> " class="card-img-top" alt="...">
								<div class="card-body">
									<a class="article-text" href="<%= article.url %> " target="_blank">
										<h5 class="card-title">
											<%= article.title %>
										</h5>
										<p class="card-text">
											<%= article.description %>
												<br><br>
												<%= article.url %>
										</p>
									</a>
								</div>
								<div class="card-footer text-muted">
									<%= new Date(article.published).toDateString() %>
										<%= article.api %>
								</div>
							</div>
						</li>
						<% }) %>
				</ul>
			</div>
			<div class="col-4">
				<a id="twitter-timeline" class="twitter-timeline" data-theme="light" href="https://twitter.com/<%= info.twitter_account %>">Tweets by <%= info.twitter_account %></a>
			</div>
			<div class="col-1"></div>
		</div>
	</div>

<%- include("partials/footer.ejs") %>