<%- include("partials/header.ejs") %>

	<div class="container">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="<%= db_info.imageurl %> " alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title"><i><span class="grayText"><%= db_info.title %></span></i> <%= db_info.name %></h5>
								<p class="card-title"><i><span class="grayText">Political affiliation: <%= db_info.affiliation %></span></i></p>
								<p class="card-title">State: <%= db_info.state %></p>
								<p class="card-title">Age: <%= db_info.age %></p>
								<p class="card-title">DOB: <%= info.date_of_birth %></p>
								<p class="card-title">Gender: <%= db_info.gender %></p>
								<p class="card-title">URL: <a href="<%= info.url %>"><%= info.url %></a></p>
								<p class="card-title">Contact: <a href="<%= info.contact_form %>"><%= info.contact_form %></a></p>
								<p class="card-title">Votes with party: <%= info.votes_with_party_pct %>%</p>
								<p class="card-title">Votes against party: <%= info.votes_against_party_pct %>%</p>
								<p class="card-title">Votes missed: <%= info.missed_votes_pct %>%</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
		<div class="row" style="margin-bottom: 15px;">
			<div class="col-1"></div>
			<div class="col-10">
				<h6>
					<strong>Search Result for "<%= searchInput %>":</strong>
				</h6>
			</div>
			<div class="col-1"></div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-6">
				<ul id="dynamic-list" class="card-list hidden" style="text-align:left;">
					<% articles.forEach((article)=> { %>
						<li>
							<div class="card">
								<img src="<%= article.image %> " class="card-img-top" alt="...">
								<div class="card-body">
									<a class="article-text" href="<%= article.url %> " target="_blank">
										<h5 class="card-title">
											<%= article.title %>
										</h5>
										<p class="card-text">
											<%= article.description %>
												<br><br>
												<%= article.url %>
										</p>
									</a>
								</div>
								<div class="card-footer text-muted">
									<%= new Date(article.published).toDateString() %>
										<%= article.api %>
								</div>
							</div>
						</li>
						<% }) %>
				</ul>
			</div>
			<div class="col-4">
				<a class="twitter-timeline" data-theme="light" href="https://twitter.com/<%= screenName %> ">Tweets by <%= screenName %></a>
			</div>
			<div class="col-1"></div>
		</div>
	</div>

<%- include("partials/footer.ejs") %>