<%- include("partials/header.ejs") %>
    <div style="padding-top: 10px; max-width: 850px;" class="card mb-3" style="">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="academic buildingjpg.jpg" alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">		 
		  <h5 class="card-text"> <i><span class="grayText">Senator</span></i> Joh Doe </h5>		  
		  <p class="card-title"><i><span class="grayText">Political affiliation</span></i></p>
		  <p class="card-title">Texas</p>	 
		  <p class="card-title">Age 66</p>
		  <p class="card-title">Female</p>
		  <p class="card-text"> Antiochus XII Dionysus (died 82 BC) was a Seleucid ruler who reigned as King of Syria during the Hellenistic period from 87 BC until his death. He was the youngest
					  son of Antiochus VIII, who was assassinated in 96 BC. Syria's southern reaches into which the Judaeans and Nabataeans sought to expand, reinforced his southern frontier, and fought two campaigns against Nabataea and Judea.
				  </p>
		  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
	  </div>
	</div>
  </div>
	<div class="container">
		<div class="row" style="margin-bottom: 15px;">
			<div class="col-1"></div>
			<div class="col-11">
				<h6>
					<strong>Search Result for "<%= searchInput %>":</strong>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-7">
				<ul id="dynamic-list" class="card-list hidden" style="text-align:left;">
					<% articles.forEach((article)=> { %>
						<li>
							<div class="card">
								<img src="<%= article.image %> " class="card-img-top" alt="...">
								<div class="card-body">
									<a class="article-text" href="<%= article.url %> " target="_blank">
										<h5 class="card-title">
											<%= article.title %>
										</h5>
										<p class="card-text">
											<%= article.description %>
											<br><br>
											<%= article.url %>
										</p>
									</a>
								</div>
								<div class="card-footer text-muted">
									<%= new Date(article.published).toDateString() %> <%= article.api %> 
								</div>
							</div>
						</li>
						<% }) %>
				</ul>
			</div>
			<div class="col-1"></div>
			<div class="col-3">
				<a class="twitter-timeline" href="https://twitter.com/<%= screenName %> ">Tweets by <%= screenName %>
				</a>
			</div>
		</div>
	</div>

<%- include("partials/footer.ejs") %>