<%- include("../partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 class="title-adapt-color">Favorites</h1>
                <ul>
                    <% currentUser.favorites.forEach(element => { %>
                        <a href="/search?politicianName=<%= element.split(' ')[0] %>+<%= element.split(' ')[1] %>">
                            <li class="text-adapt-color">
                                <%= element %>
                            </li>
                        </a>
                    <% }) %>
                </ul>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

<%- include("../partials/footer.ejs") %>